@model IEnumerable<ProjectSupportSystem.Models.SupportElement>

@{
	ViewData["Title"] = "Index";
}

<h4>Destek Unsurları</h4>
<hr />

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.SupportElementName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SupportElementPercentage)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SupportElementAmount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th><a asp-action="AddOrUpdate" class="btn btn-outline-success"><i class="fa fa-plus-square"></i> Destek Unsuru</a><i></i></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.SupportElementName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SupportElementPercentage)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SupportElementAmount)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					<a asp-action="AddOrUpdate" asp-route-id="@item.ID"><i class="fa fa-marker fa-lg"></i> Düzenle</a> |
					<a asp-action="Delete" asp-route-id="@item.ID" class="text-danger ml-1" onclick="return confirm('Bu destek unsurunu silmek istediğinize emin misiniz?')"><i class="fa fa-trash-alt fa-lg"></i> Sil</a>
				</td>
			</tr>
		}
	</tbody>
</table>
